@model IList<llama_journal.Models.AnalysisUserModel>

@{
    ViewBag.Title = "Analysis";
    Layout = "_Layout";
}

<head>
    <title>People List</title>
	<link href= "~/css/analysis.css" rel="stylesheet" type="text/css"/>
</head>

<h6 style="text-align: center; padding: 10px">@Model[0].Group</h6>
<div class="table-container">
    <table>
        <tr>
            <th>Номер</th>
            <th>Ім'я</th>
            <th>Роль</th>
        </tr>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.FullName</td>
                <td>@person.Role</td>
            </tr>
        }
        
    </table>
    
    @if (@Model[0].analysisModel != -1)
    {
        <div style="text-align: center; padding: 30px; border: 2px solid black; width: 200px; height: 50px; margin: 0 auto;">
            @Model[0].nameAnalysisModel: @Model[0].analysisModel
        </div>
    }


</div>
<br/>
