@model llama_journal.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.css" rel="stylesheet"/>
	<link href= "~/css/panel.css" rel="stylesheet" type="text/css"/>
</head>



<div class="center">
	<form class="w-25 panel" id="loginForm" method="post" asp-controller="Login" asp-action="Index">
		<h1>Вхід</h1>
		<div class="form-floating">
			<input class="form-control item" name="Email" placeholder="Електронна пошта" id="email" required>
			@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			<label for="email">Електронна пошта</label>
		</div>
		<div class="form-floating">
			<input class="form-control item" type="password" name="Password" placeholder="Пароль" id="password" required>
			@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
			<label for="Password">Пароль</label>
		</div>
		<button class="btn btn-primary btn-block w-100 create-account" type="submit">Вхід</button>
		<div style="margin-top: 1%;">
			<a style="float: left" href="signup.html">Забули пароль?</a>
			<a style="float: right" href="@Url.Action("Signup", "Login")">Створити організацію</a>
			<a href="@Url.Action("Index", "UserAccount")">Я адмін</a>
		</div>
	</form>
</div>

