<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <link href= "~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <script>
    $(function () {
      $('[data-toggle="dropdown"]').dropdown()
    })
  </script>

  
</head>
<body>
@if (TempData["Error"] != null)
{
	<script>
		alert('@TempData["Error"]');
	</script>
}
@if (ViewBag.Title == "Progress")
{
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="padding-left: 20px;">@ViewBag.Title</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="justify-content: center">
      <ul class="navbar-nav nav-fill">
        <li class="nav-item active">
          <a class="nav-link" href="@Url.Action("Index", "Analysis")">Аналіз Успішності</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@Url.Action("Index", "ItemManagement")">Підсумкові бали</a>
        </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Вибрати предмет
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Математика</a>
            <a class="dropdown-item" href="#">Комп'ютерна інженерія</a>
            <a class="dropdown-item" href="#">Методи оптимізації</a>
        </div>
      </li>
      </ul>
    </div>
  </nav>
}

@if (ViewBag.Title == "Analysis")
{
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="padding-left: 20px;">@ViewBag.Title</a>
         <div class="collapse navbar-collapse" id="navbarNavDropdown" style="justify-content: center">
        <ul class="navbar-nav nav-fill">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Вибрати оцінування
            </a>
            <form method="get" asp-controller="Analysis" asp-action="Index" >
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <button class="dropdown-item" type="submit" name="selectedValue" value="average">Середнє Арифметичне</button>
              <button class="dropdown-item" type="submit" name="selectedValue" value="successful">Успішні предмети</button>
              <button class="dropdown-item" type="submit" name="selectedValue" value="unsuccessful">Не успішні предмети</button>
              </div>
            </form>
          </li>
          
        <li class="nav-item active">
          <a class="nav-link" href="@Url.Action("Index", "Progress")">Прогрес</a>
        </li>
      </ul>
      </div>
  </nav>
}

@if (ViewBag.Title == "ItemManagement")
{
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="padding-left: 20px;">@ViewBag.Title</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="justify-content: center">
    <ul class="navbar-nav mr-auto nav-fill">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Сортувати
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">По предметах</a>
          <a class="dropdown-item" href="#">По викладачах</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Progress")">Прогрес</a>
      </li>
    </ul>
  
    </div>
  </nav>

}


<div>
  @RenderBody()
</div>
</body>
</html>
